mat-toolbar {
    max-height: 48px;
    background: gray;

    > .mat-list-base {
        padding: 0px;
    }

    .form-search {
        display: flex;
        flex-direction: row;
        align-items: center;

        #search {
            display: flex;
            align-items: center;
            height: 100%;

            > input {
                margin-left: 16px;
                width: 300px;
                height: 30px;
                border: 0px;
                background: #ccc;
                padding-left: 10px;
            }
            > mat-icon {
                margin-left: -30px;
            }
        }
        > select {
            margin: 0px 16px 0px 24px;
            width: 100px;
            height: 32px;
            border: 0px;
            background: #ccc;
            padding-left: 10px;
            color: gray;
        }
    }
}

.title {
    display: flex;
    align-items: center;
    height: 250px;
    background: #000;

    .background {
        position: absolute;
        background: url(/assets/images/views/characters/title-background.jpg) center center;
        width: 100%;
        height: 250px;
        opacity: 0.5;
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        width: 100%;

        > h1 {
            font-size: 4em;
            font-weight: bold;
        }
    }
}

.search-message {
    padding: 50px 0px;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    color: #000;
    width: 100%;
}
