<mat-toolbar class="toolbar mat-elevation-z4">
    <mat-nav-list class="list-horizontal">
        <a mat-list-item routerLink="/">
            <mat-icon>
                arrow_back
            </mat-icon>
            Voltar
        </a>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="form-search">
            <div id="search">
                <input #input maxlength="10" placeholder="Ex. Nougat">
                <mat-icon matSuffix>
                    search
                </mat-icon>
            </div>
            <select #select title="Filtro pela Letra Inicial"
                (change)="onSearchByLetter(select.value)">
                <option value="">Letra</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="J">J</option>
                <option value="K">K</option>
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="N">N</option>
                <option value="O">O</option>
                <option value="P">P</option>
                <option value="Q">Q</option>
                <option value="R">R</option>
                <option value="S">S</option>
                <option value="T">T</option>
                <option value="U">U</option>
                <option value="V">V</option>
                <option value="X">X</option>
                <option value="Y">Y</option>
                <option value="W">W</option>
                <option value="Z">Z</option>
            </select>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <a mat-list-item routerLink="/characters/favorites">
            <mat-icon>
                favorite
            </mat-icon>
            Favoritos
        </a>
    </mat-nav-list>
</mat-toolbar>

<mat-progress-bar mode="indeterminate"
    *ngIf="!isLoaded"></mat-progress-bar>

<div class="title">
    <div class="background"></div>
    <div class="content">
        <h1>PERSONAGENS MARVEL</h1>
        <h2>Fique viciado em uma ajuda calorosa de heróis e vilões da humilde Casa das Idéias!</h2>
    </div>
</div>

<marvel-comics-card class="list-of-items"
    type="character"
    route="characters"
    [items]="characters"
    *ngIf="lengthOfCharacters > 0">
</marvel-comics-card>

<div #searchMessage class="search-message"
    [hidden]="lengthOfCharacters > 0"></div>

<mat-paginator
    [length]="lengthOfCharacters"
    [pageSize]="20"
    [showFirstLastButtons]="true"
    [hidePageSize]="true"
    (page)="pageEvent = getListOfCharacters($event)"
    *ngIf="lengthOfCharacters > 0">
</mat-paginator>