.toolbar {
    .primary, .secondary {
        justify-content: center;
    }
    .primary {
        > a {
            height: 64px;
        }
    }
    .secondary {
        max-height: 48px;
        border: 1px solid #ec1d24;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;

        > .mat-list-base {
            padding: 0px;
        }
    }
}
