<mat-toolbar class="toolbar mat-elevation-z4">
    <mat-toolbar-row class="primary">
        <a routerLink="/">
            <img src="assets/images/logo-marvel.png" alt="Marvel Comics">
        </a>
    </mat-toolbar-row>
    <mat-toolbar-row class="secondary">
        <mat-nav-list class="list-horizontal">
            <a mat-list-item routerLink="/comics">
                QUADRINHOS
            </a>
            <mat-divider [vertical]="true"></mat-divider>
            <a mat-list-item routerLink="/characters">
                PERSONAGENS
            </a>
        </mat-nav-list>
    </mat-toolbar-row>
</mat-toolbar>