<div class="content">
    <div class="background"></div>
    <div class="message-welcome">
        <h1>
            SEJA BEM-VINDO AO<br>
            CATÁLOGO DE QUADRINHOS E<br>
            PERSONAGENS DA MARVEL
            <h2>CONHEÇA E FAVORITE OS SEUS!</h2>
        </h1>
    </div>
</div>