.content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000;

    > .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(/assets/images/views/home/background.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.25;
    }
    .message-welcome {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        width: 100%;

        > h1 {
            font-size: 3em;
            font-weight: bold;
            line-height: 1em;
        }
    }
}
