<mat-toolbar class="toolbar mat-elevation-z4">
    <mat-nav-list class="list-horizontal">
        <a mat-list-item routerLink="/">
            <mat-icon>
                arrow_back
            </mat-icon>
            Voltar
        </a>
        <mat-divider [vertical]="true"></mat-divider>
    </mat-nav-list>
</mat-toolbar>

<mat-progress-bar mode="indeterminate"
    *ngIf="!isLoaded"></mat-progress-bar>

<div class="title">
    <div class="background"></div>
    <div class="content">
        <h1>QUADRINHOS MARVEL</h1>
        <h2>MAIS TRÊS CAMPEÕES EMERGEM</h2>
    </div>
</div>

<marvel-comics-card class="list-of-items"
    type="comic"
    route="comics"
    [items]="comics"
    *ngIf="lengthOfComics > 0">
</marvel-comics-card>

<mat-paginator
    [length]="lengthOfComics"
    [pageSize]="20"
    [showFirstLastButtons]="true"
    [hidePageSize]="true"
    (page)="pageEvent = getListOfComics($event)"
    *ngIf="lengthOfComics > 0">
</mat-paginator>
