<mat-card class="card"
    *ngFor="let item of items"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)">
    <div class="background"></div>
    <div class="content">
        <a routerLink="/{{ route }}/{{ item.id }}">
            <img mat-card-image src="{{ getThumbnail(item) }}" alt="{{ getTitle(item) }}">
        </a>
        <mat-card-header>
            <mat-card-title>
                <a routerLink="/{{ route }}/{{ item.id }}">
                    {{ getTitle(item) }}
                </a>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content
            *ngIf="item.description">
            <p>
                {{ item.description | slice : 0 : 100 }}
                <a class="more" *ngIf="item.description.length > 100" routerLink="/{{ route }}/{{ item.id }}">MAIS</a>
            </p>
        </mat-card-content>
    </div>
</mat-card>