.card {
    width: 200px;
    margin: 0px 16px 16px 0px;

    .background {
        position: absolute;
        transition: height .5s;
        background: #ec1d24;
        border-radius: 3px;
        top: 0;
        left: 0;
        width: 232px;
        height: 0;
        z-index: 0;

        & .active {
            height: 100%;
        }
    }

    > .content {
        position: relative;
        z-index: 1;

        img {
            max-width: 232px;
            max-height: 350px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        > mat-card-content {
            .more {
                font-style: italic;
                font-size: 12px;
                font-weight: 600;
                color: #ddd;
            }
        }
    }
}
