mat-toolbar {
    max-height: 48px;
    background: gray;

    > .mat-list-base {
        padding: 0px;
    }
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 16px;

    > .character-card {
        display: flex;
        flex-direction: row;
        max-width: 920px;

        > img {
            margin: 0px;
            max-width: 350px;
        }
        .mat-card-title {
            font-size: 3em;
            line-height: 1em;
            margin-bottom: 40px;
        }
        .mat-card-content {
            margin: 0px 16px;

            .publication {
                margin-bottom: 20px;

                .title {
                    font-size: 1.5em;
                    font-weight: 500;
                }
            }
        }
    }
}
