<mat-toolbar class="toolbar mat-elevation-z4">
    <mat-nav-list class="list-horizontal">
        <a mat-list-item routerLink="/characters">
            <mat-icon>
                arrow_back
            </mat-icon>
            Voltar
        </a>
        <mat-divider [vertical]="true"></mat-divider>
    </mat-nav-list>
</mat-toolbar>

<mat-progress-bar mode="indeterminate"
    *ngIf="!isLoaded"></mat-progress-bar>

<div class="content">
    <mat-card class="character-card" *ngIf="character">
        <img mat-card-image src="{{ thumbnail }}" alt="{{ character.name }}">
        <div class="description">
            <mat-card-header>
                <mat-card-title>
                    {{ character.name }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="publication">
                    <div class="date">
                        <div class="title">
                            Última Modificação em:
                        </div>
                        <p>
                            {{ dateModified | date: 'dd' }} de
                            {{ dateModified | date: 'MMMM' }} de
                            {{ dateModified | date: 'yyyy' }}
                        </p>
                    </div>
                </div>
                <p *ngIf="character.description">
                    {{ character.description }}
                </p>
            </mat-card-content>
        </div>
        <a class="favorite"
            (click)="onFavoriteClick(character.id)">
            <mat-icon>
                {{ iconFavorite }}
            </mat-icon>
        </a>
    </mat-card>
</div>