<mat-toolbar class="toolbar mat-elevation-z4">
    <mat-nav-list class="list-horizontal">
        <a mat-list-item routerLink="/characters">
            <mat-icon>
                arrow_back
            </mat-icon>
            Voltar
        </a>
        <mat-divider [vertical]="true"></mat-divider>
        <a mat-list-item (click)="onClearFavoritesClick($event)">
            <mat-icon>
                delete_sweep
            </mat-icon>
            Limpar Favoritos
        </a>
    </mat-nav-list>
</mat-toolbar>

<mat-progress-bar mode="indeterminate"
    *ngIf="!isLoaded"></mat-progress-bar>

<div class="title">
    <div class="background"></div>
    <div class="content">
        <h1>SEUS PERSONAGENS MARVEL FAVORITOS</h1>
    </div>
</div>

<div #favoriteMessage class="favorite-message"
    [hidden]="lengthOfCharacters > 0"></div>

<marvel-comics-card class="list-of-items"
    type="character"
    route="characters"
    [items]="characters"
    *ngIf="isLoaded">
</marvel-comics-card>
