html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

.list-horizontal {
    display: flex !important;
    flex-direction: row;
}
.list-of-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px 0px;
}
