<mat-toolbar class="toolbar mat-elevation-z4">
    <mat-nav-list class="list-horizontal">
        <a mat-list-item routerLink="/comics">
            <mat-icon>
                arrow_back
            </mat-icon>
            Voltar
        </a>
        <mat-divider [vertical]="true"></mat-divider>
    </mat-nav-list>
</mat-toolbar>

<mat-progress-bar mode="indeterminate"
    *ngIf="!isLoaded"></mat-progress-bar>

<div class="content">
    <mat-card class="comic-card" *ngIf="comic">
        <img mat-card-image src="{{ thumbnail }}" alt="{{ comic.title }}">
        <div class="description">
            <mat-card-header>
                <mat-card-title>
                    {{ comic.title }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="publication">
                    <div class="date">
                        <div class="title">
                            Publicado em:
                        </div>
                        <p>
                            {{ dateOnSale | date: 'dd' }} de
                            {{ dateOnSale | date: 'MMMM' }} de
                            {{ dateOnSale | date: 'yyyy' }}
                        </p>
                    </div>
                </div>
                <div class="creators" *ngIf="creators.length > 0">
                    <div class="title">
                        Criadores:
                    </div>
                    <div class="list-creators">
                        <div class="creator"
                            *ngFor="let creator of creators">
                            <div class="role">
                                {{ creator.role }}
                            </div>
                            <div class="name">
                                {{ creator.name }}
                            </div>
                        </div>
                    </div>
                </div>
                <p *ngIf="comic.description">
                    {{ comic.description }}
                </p>
            </mat-card-content>
        </div>
    </mat-card>
</div>